<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: common(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
          
    <section>
        <div th:each="sim : ${allSimCard}">
            <h1 th:text="${sim.mobileNumber}" class="bg-black"></h1> <!-- Use camelCase for property names -->
            <h3 th:text="${sim.price}"></h3>        <!-- Use camelCase for property names -->
            <h2 th:text="${sim.type}"></h2>          <!-- Use camelCase for property names -->
        </div>
    </section>
</body>
</html>